@page

<h1>nodemon</h1>

<div id="chartArea">
</div>

<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/node.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<style>
    .ct-series-a .ct-line {
        stroke-width: 1px;
    }
</style>